@model Numeric_Sequence_Calculator.Models.SequenceResult
<h2>Magic Number is: <span style="text-decoration:underline;">@Model.MagicNumber</span></h2>
<div class="results">
    <div class="results-span">
        <h3>All Numbers up to and including: @Model.MagicNumber</h3>
        @string.Join(",", Model.AllNumbersUpTo)
    </div>
    <div class="results-span">
        <h3>All Numbers that are Even up to and including: @Model.MagicNumber</h3>
        @string.Join(",", Model.EvenNumbersUpTo)
    </div>
    <div class="results-span">
        <h3>All Numbers that are Odd up to and including: @Model.MagicNumber</h3>
        @string.Join(",", Model.OddNumbersUpTo)
    </div>
    <div class="results-span">
        <h3>All Numbers up to and including: @Model.MagicNumber, except when divisible by 3 or 5 or 3 and 5, replace with letters 'c','e','z'</h3>
        @string.Join(",", Model.AllNumbersConditional)
    </div>
    <div class="results-span">
        <h3>All Fibonnaci numbers up to and including: @Model.MagicNumber</h3>
        @string.Join(",", Model.FibonacciNumbersUpTo)
    </div>

</div>
